.marsMain {
    position: relative;
    background-image: url('../../assets/images/backgrounds/background.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.marsCircle {
    position: absolute;
    top: -5%;
    right: 0;
    width: 110%;
    height: 800px;
}

.marsHeadingBox {
    position: relative;
    display: block;
    width: 100%;
    height: 680px;
    background-color: #000;
    background-blend-mode: hard-light;
    background-image: url('../../assets/images/backgrounds/background.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.marsHeaderDiv {
    position: absolute;
    top: 80%;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marsHeader {
    position: relative;
    color: #f35d30;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 7px;
}

.marsHeader::after {
    position: absolute;
    top: 50%;
    right: -340%;
    width: 300px;
    height: 4px;
    border-top: 1px #f35d30 solid;
    border-bottom: 1px #f35d30 solid;
    content: '';
}

.marsHeader::before {
    position: absolute;
    top: 50%;
    left: -340%;
    width: 300px;
    height: 4px;
    border-top: 1px #f35d30 solid;
    border-bottom: 1px #f35d30 solid;
    content: '';
}

.menuIcon {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 10;
}

.containerBack {
    width: 100%;
    height: auto;
    padding-bottom: 70px;
    background-color: #000;
    background-blend-mode: hard-light;
    background-image: url('../../assets/images/backgrounds/background.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .menuIcon {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 800px) {
    .menuIcon {
        width: 70px;
        height: 70px;
    }
}

@media screen and (max-width: 619px) {
    .menuIcon {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 585px) {
    .marsCircle {
        top: -10%;
        width: 130%;
        right: -10%;
    }
}

@media screen and (max-width: 480px) {
    .marsCircle {
        top: -10%;
        width: 145%;
        right: -15%;
    }
}

@media screen and (max-width: 400px) {
    .marsCircle {
        top: -10%;
        width: 175%;
        right: -25%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 800px !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1500px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 2000px !important;
    }
}

@media only screen and (min-width: 2200px) {
    .menuIcon {
        right: auto
    }
}