button:disabled {
    cursor: no-drop;
}

.loginPageMain {
    width: 100%;
    height: 880px;
    background-image: url('../../assets/images/backgrounds/login-back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginPageBottom {
    margin-top: -5px;
    width: 100%;
    height: 115px;
    background-color: #000;
}

.loginRegisterSwitch {
    position: relative;
    top: 20%;
    width: 60%;
    max-width: 900px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
    background-color: #00112c;
    transition: 0.4s all ease;
}

.registerSideBox {
    position: absolute;
    top: 20%;
    left: 0;
    width: 360px;
    opacity: 1;
    transition: 1s opacity ease;
}

.registerSideBoxHidden {
    position: absolute;
    top: 20%;
    left: 0;
    width: 360px;
    opacity: 0;
    transition: 0.6s opacity ease;
}

.registerboxHead {
    text-align: right;
    color: #fff;
    padding-bottom: 10px;
}

.registerboxDesc {
    text-align: right;
    color: #fff;
}

.registerboxButton {
    position: absolute;
    left: 30%;
    margin-top: 10px;
    padding: 7px 15px;
    color: #00a98f;
    background: none;
    outline: none;
    border: 1px solid #00a98f;
    transition: 0.3s all ease;
}

.registerboxButton:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #00a990b7;
    content: '';
    transition: 0.3s all ease;
}

.registerboxButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.registerboxButton:hover:before {
    width: 100%;
    z-index: -1;
}

.loginSideBox {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 360px;
    opacity: 1;
    transition: 0.6s opacity ease;
}

.loginSideBoxHidden {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 360px;
    opacity: 0;
    transition: 0.6s opacity ease;
}

.loginboxHead {
    text-align: right;
    color: #fff;
    padding-bottom: 10px;
}

.loginboxDesc {
    text-align: right;
    color: #fff;
}

.loginboxButton {
    position: absolute;
    right: 5%;
    margin-top: 10px;
    padding: 7px 15px;
    color: #00a98f;
    background: none;
    outline: none;
    border: 1px solid #00a98f;
    transition: 0.3s all ease;
}

.loginboxButton:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00a990b7;
    content: '';
    transition: 0.3s all ease;
}

.loginboxButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.loginboxButton:hover:before {
    width: 100%;
    z-index: -1;
}

.loginRegisterLoginBox {
    transition: 0.6s all ease;
    position: absolute;
    top: -15%;
    right: 5%;
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 2px 12px #00a990b7;
}

.loginRegisterLoginHead {
    position: absolute;
    top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #34bf49;
}

.loginRegisterLoginForm {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.loginRegisterLoginEmail,
.loginRegisterLoginEmailInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

.loginRegisterLoginEmail {
    border-bottom: 1px solid #8db9ca;
}

.loginRegisterLoginEmailInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterLoginEmail:focus::placeholder,
.loginRegisterLoginEmailInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterLoginEmail:focus:-moz-placeholder,
.loginRegisterLoginEmailInvalid:focus:-moz-placeholder {
    visibility: hidden;
}

.loginEmailErrorSpan {
    margin-top: -12px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterLoginPassword,
.loginRegisterLoginPasswordInvalid {
    width: 85%;
    padding: 7px 7px;
    border: none;
    outline: none;
}

.loginRegisterLoginPassword {
    border-bottom: 1px solid #8db9ca;
}

.loginRegisterLoginPasswordInvalid {
    border-bottom: 1px solid #e57373;
}

.loginPasswordErrorSpan {
    margin-top: 7px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterLoginPassword:focus::placeholder,
.loginRegisterLoginPasswordInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterLoginPassword:focus:-moz-placeholder,
.loginRegisterLoginPasswordInvalid:focus:-moz-placeholde {
    visibility: hidden;
}

.loginRegisterPasswordForgot {
    position: absolute;
    top: 67%;
    right: 7%;
}

.loginRegisterPasswordForgot:hover {
    text-decoration: none;
}

.loginRegisterLoginButton {
    position: absolute;
    top: 180%;
    right: 15%;
    padding: 7px 15px;
    background: none;
    outline: none;
    color: #371777;
    border: 1px solid #34bf49;
}

.loginRegisterLoginButton:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #34bf49;
    content: '';
    transition: 0.3s all ease;
}

.loginRegisterLoginButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.loginRegisterLoginButton:hover:before {
    height: 100%;
    z-index: -1;
}

.loginRegisterRegisterBox {
    transition: 0.6s all ease;
    position: absolute;
    top: -25%;
    right: 51%;
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 1px 2px 12px #00a990b7;
}

.loginRegisterRegisterHead {
    position: absolute;
    top: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #34bf49;
}

.loginRegisterRegisterForm {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.loginRegisterRegisterFullname,
.loginRegisterRegisterFullnameInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

.loginRegisterRegisterFullname {
    border-bottom: 1px solid #8db9ca;
}

.loginRegisterRegisterFullnameInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterRegisterFullname:focus::placeholder,
.loginRegisterRegisterFullnameInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterRegisterFullname:focus:-moz-placeholder,
.loginRegisterRegisterFullnameInvalid:focus:-moz-placeholder {
    visibility: hidden;
}

.registerFullNameErrorSpan {
    margin-top: -13px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterRegisterEmail,
.loginRegisterRegisterEmailInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

.loginRegisterRegisterEmail {
    border-bottom: 1px solid #8db9ca;
}

.loginRegisterRegisterEmailInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterRegisterEmail:focus::placeholder,
.loginRegisterRegisterEmailInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterRegisterEmail:focus:-moz-placeholder,
:focus::placeholder:focus:-moz-placeholder {
    visibility: hidden;
}

.registerEmailErrorSpan {
    margin-top: -13px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterRegisterPassword,
.loginRegisterRegisterPasswordInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

.loginRegisterRegisterPassword {
    border-bottom: 1px solid #8db9ca;
}

.loginRegisterRegisterPasswordInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterRegisterPassword:focus::placeholder,
.loginRegisterRegisterPasswordInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterRegisterPassword:focus:-moz-placeholder,
.loginRegisterRegisterPasswordInvalid:focus:-moz-placeholder {
    visibility: hidden;
}

.registerPasswordErrorSpan {
    margin-top: -13px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterRegisterRepassword,
.loginRegisterRegisterRepasswordInvalid {
    width: 85%;
    padding: 7px 7px;
    margin-bottom: 20px;
    border: none;
    outline: none;
}

.loginRegisterRegisterRepassword {
    border-bottom: 1px solid #8db9ca;
}

.loginRegisterRegisterRepasswordInvalid {
    border-bottom: 1px solid #e57373;
}

.loginRegisterRegisterRepassword:focus::placeholder,
.loginRegisterRegisterRepasswordInvalid:focus::placeholder {
    visibility: hidden;
}

.loginRegisterRegisterRepassword:focus:-moz-placeholder,
.loginRegisterRegisterRepasswordInvalid:-moz-placeholder {
    visibility: hidden;
}

.refisterRepasswprdErrorSpan {
    margin-top: -13px;
    font-size: 14px;
    color: #f44336;
    width: 94%;
    display: flex;
    justify-content: flex-end;
}

.loginRegisterRegisterButton {
    position: absolute;
    top: 118%;
    right: 15%;
    padding: 7px 15px;
    background: none;
    outline: none;
    color: #371777;
    border: 1px solid #34bf49;
}

.loginRegisterRegisterButton:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #34bf49;
    content: '';
    transition: 0.3s all ease;
}

.loginRegisterRegisterButton:hover {
    color: #fff !important;
    z-index: 1 !important;
}

.loginRegisterRegisterButton:hover:before {
    height: 100%;
    z-index: -1;
}

.registerAlerts {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    z-index: 5;
}

.registerAlerts p,
.registerAlerts h4 {
    color: #fff;
    font-size: 35px;
}

.registerAlerts span {
    color: rgb(230, 185, 185);
    font-size: 16px;
}

.loginAlerts {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    z-index: 5;
}

.loginAlerts p,
.loginAlerts h4 {
    color: #fff;
    font-size: 35px;
}

.loginAlerts span {
    color: rgb(230, 185, 185);
    font-size: 16px;
}

.loginShowHidePasswordIcon {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 60%;
    right: 10%;
}

.registerShowHidePasswordIcon {
    width: 27px;
    height: 27px;
    position: absolute;
    top: 53%;
    right: 10%;
}

.registerShowHideRepasswordIcon {
    width: 27px;
    height: 27px;
    position: absolute;
    bottom: 9%;
    right: 10%;
}

.registerShowHideRepasswordIconInvalid {
    width: 27px;
    height: 27px;
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.reLoginAlert {
    position: fixed;
    top: 0;
    left: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 2200px;
    height: 380px;
    padding-top: 25px;
    background-color: #283593;
    border-radius: 22% 23% 21% 20% / 18% 16% 24% 18%;
}

.reLoginAlertIcon {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.reLoginAlertTitle {
    color: #fff;
    margin-bottom: 15px;
}

.reLoginAlertButton {
    background: none;
    border: 1px solid #2979FF;
    color: #fff;
    outline: none;
    padding: 8px 14px;
    transition: 0.5s background-color ease;
    -webkit-transition: 0.5s background-color ease;
    -o-transition: 0.5s background-color ease;
    -moz-transition: 0.5s background-color ease;
}

.reLoginAlertButton:hover {
    background-color: #2979FF;
    color: #fff;
    border: 1px solid rgb(133, 172, 240);
}


/* media aueries /////////////////////// */

@media screen and (max-width: 1340px) {
    .loginRegisterRegisterBox {
        right: 50%;
    }
}

@media screen and (max-width: 1320px) {
    .loginRegisterRegisterBox {
        right: 49%;
    }
}

@media screen and (max-width: 1290px) {
    .loginRegisterRegisterBox {
        right: 47%;
    }
    .registerSideBox {
        left: -6%;
    }
    .registerSideBoxHidden {
        left: -6%;
    }
    .loginSideBox {
        right: 4%;
    }
    .loginSideBoxHidden {
        right: 4%;
    }
}

@media screen and (max-width: 1220px) {
    .loginRegisterRegisterBox {
        right: 45%;
    }
}

@media screen and (max-width: 1170px) {
    .loginRegisterRegisterBox {
        right: 50%;
    }
    .loginRegisterSwitch {
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    .loginRegisterRegisterBox {
        right: 48%;
    }
}

@media screen and (max-width: 1060px) {
    .loginRegisterRegisterBox {
        right: 52%;
    }
    .loginRegisterSwitch {
        width: 80%;
    }
}

@media screen and (max-width: 1020px) {
    .loginRegisterRegisterBox {
        right: 50%;
    }
}

@media screen and (max-width: 980px) {
    .loginRegisterRegisterBox {
        right: 48%;
    }
}

@media screen and (max-width: 930px) {
    .loginRegisterRegisterBox {
        right: 51%;
    }
    .loginRegisterSwitch {
        width: 90%;
    }
}

@media screen and (max-width: 880px) {
    .loginRegisterRegisterBox {
        right: 49%;
    }
}

@media screen and (max-width: 850px) {
    .loginRegisterRegisterBox {
        right: 47%;
    }
    .registerSideBox {
        left: -11%;
    }
    .registerSideBoxHidden {
        left: -11%;
    }
    .registerboxHead {
        font-size: 16px;
    }
    .registerboxDesc {
        font-size: 14px;
    }
    .registerboxButton {
        left: 40%;
    }
    .loginboxHead {
        font-size: 16px;
    }
    .loginboxDesc {
        font-size: 14px;
    }
    /* .loginboxButton */
}

@media screen and (max-width: 810px) {
    .loginRegisterRegisterBox {
        right: 45%;
    }
}

@media screen and (max-width: 780px) {
    .loginRegisterRegisterBox {
        right: 48%;
        width: 300px;
        height: 430px;
    }
    .loginRegisterLoginBox {
        width: 300px;
        height: 360px;
    }
    .loginRegisterLoginButton {
        top: 165%;
    }
}

@media screen and (max-width: 745px) {
    .loginRegisterRegisterBox {
        right: 46%;
    }
}

@media screen and (max-width: 730px) {
    .loginRegisterSwitch {
        width: 350px;
        top: 10%;
        height: 500px;
    }
    .loginRegisterLoginBox {
        right: 25px;
    }
    .loginRegisterRegisterBox {
        right: 25px;
        top: 40%;
    }
    .registerSideBox {
        top: 67%;
        left: -25%;
    }
    .registerSideBoxHidden {
        top: 67%;
        left: -25%;
    }
    .loginSideBox {
        top: 10%;
    }
    .loginSideBoxHidden {
        top: 10%;
    }
}

@media screen and (max-width: 500px) {
    .reLoginAlert {
        height: 340px;
    }
    .reLoginAlertIcon {
        width: 150px;
        height: 150px;
    }
    .reLoginAlertTitle {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .reLoginAlertButton {
        font-size: 16px;
        padding: 6px 10px;
    }
}

@media screen and (max-width: 375px) {
    .loginRegisterSwitch {
        width: 300px;
        top: 10%;
        height: 500px;
    }
    .loginRegisterRegisterBox {
        right: 48%;
        width: 280px;
        height: 430px;
    }
    .loginRegisterLoginBox {
        width: 280px;
        height: 360px;
    }
    .loginRegisterLoginBox {
        right: 10px;
    }
    .loginRegisterRegisterBox {
        right: 10px;
        top: 40%;
    }
}

@media screen and (max-width: 315px) {
    .loginRegisterSwitch {
        width: 260px;
        top: 10%;
        height: 500px;
    }
    .loginRegisterRegisterBox {
        right: 48%;
        width: 250px;
        height: 430px;
    }
    .loginRegisterLoginBox {
        width: 250px;
        height: 360px;
    }
    .loginRegisterLoginBox {
        right: 5px;
    }
    .loginRegisterRegisterBox {
        right: 5px;
        top: 40%;
    }
    .registerSideBox {
        top: 67%;
        left: -44%;
    }
    .registerSideBoxHidden {
        top: 67%;
        left: -44%;
    }
    .registerboxHead {
        font-size: 14px;
    }
    .registerboxDesc {
        font-size: 12px;
    }
    .loginboxHead {
        font-size: 14px;
    }
    .loginboxDesc {
        font-size: 12px;
    }
}

@media screen and (min-width: 1291px) {
    .registerSideBox {
        left: -4%;
    }
    .registerSideBoxHidden {
        left: -4%;
    }
    .loginSideBox {
        right: 6%;
    }
    .loginSideBoxHidden {
        right: 6%;
    }
}

@media screen and (min-width: 1350px) {
    .loginPageMain {
        height: 900px;
        background-position: bottom;
    }
    .loginRegisterRegisterBox {
        right: 52%;
    }
    .registerSideBox {
        left: -1%;
    }
    .registerSideBoxHidden {
        left: -1%;
    }
    .loginSideBox {
        right: 10%;
    }
    .loginSideBoxHidden {
        right: 10%;
    }
}

@media screen and (min-width: 1400px) {
    .loginRegisterRegisterBox {
        right: 53%;
    }
}

@media screen and (min-width: 1440px) {
    .loginRegisterRegisterBox {
        right: 55%;
    }
}

@media screen and (min-width: 1550px) {
    .loginPageMain {
        height: 1000px;
        background-position: bottom;
    }
}

@media screen and (min-width: 1900px) {
    .loginPageMain {
        height: 1100px;
        background-position: bottom;
    }
}